<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center modalHeader">Please Enter Your Age</h4>
    <h3 class="tooYoung center"></h3>
     <div class="input-field col s12">
    <i class="material-icons prefix ageInput">pan_tool</i>
    <input class="autocomplete-input" id="age-input" type="number" min="21" max="100" class="validate">
    <label class="ageInput" for="age">Age</label>
    </div>
  </div>
  <div class="modal-footer">
    <a  class="modal-action modal-close waves-effect waves-green btn-flat ageInput">Enter</a>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <h2 class="mainHeader">What are you eating?</h2>
  </div>
</div>
<div class="row container">
  <div class="input-field col m8 s12">
    <input type="text" id="foodInput" class="autocomplete-input " class="autocomplete1">
    <label class="preText " for="autocomplete-input">This can be a dish ("steak"), an ingredient ("salmon"), or a cuisine ("italian").</label>
  </div>
  <div class="input-field col m4 s12 center">
    <button class="btn searchButton waves-effect waves-heavy " type="submit" name="action">Get To Sippin'
    </button>
  </div>
</div>
<div class="row container">
  <div class="col s12 center notValid">

  </div>
</div>

<div class="parallax-container pImage1">
  <div class="parallax">
    <img src="/images/wine-1476628_640.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h3 class="header center">Wine Pairing Made Easy</h3>
    <div class="whatWhat center">We Love to Pair Great Food with Great Wine</div>
    <div class="row wineSwipe">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="active tab col s4">
          <a href="#test-swipe-1">What You're Sippin'</a>

        </li>
        <li class="tab col s4">
          <a href="#test-swipe-2">Liquor Stores in Your Area</a>
        </li>
        <li class="tab col s4">
          <a href="#test-swipe-3">Comparable Wines</a>
        </li>
      </ul>
      <div id="test-swipe-1" class="col s12">
        <div class="col m8 s12" id="words"></div>
        <div class="col m4 s12" id="image"></div>
        <div class="row">
          <div class="col m6 s12 center" id="shareButton">
            <a class="shareWine resp-sharing-button__link" target="_self" aria-label="Share by E-Mail">
              <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--large">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--normal">
                </div>Email this Pair</div>
            </a>
          </div>
          <div class="col m6 s12 center">
            <a class="twitter-share-button resp-sharing-button__link" target="_blank" aria-label="Tweet">
              <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--large">
                <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--normal">
                </div>Tweet this Pair</div>
                </a>
              </div>
          </div>
        </div>


      </div>
      <div id="test-swipe-2" class="col s12">
        <div id="test-swipe-2" class="cols12 grey lighten-4">
          <div class="col m12 s12 center">
            <h5>Store Information</h5>
            <div id="name"></div>
            <div id="address"></div>
          </div>
        </div>

        <div class="col m0 s0 map2" id="map"></div>
      </div>
      <div id="test-swipe-3" class="col s12">
        <div class="row">
          <div class="col m4 s12 center" id="otherWineImage1"></div>

          <div class="col m4 s12 center" id="otherWineImage2"></div>

          <div class="col m4 s12 center" id="otherWineImage3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="/images/cork-738603_640.jpg">
  </div>
</div>