<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  



<div class="row">
  <div class="col s12 center">
    <h2 class="mainHeader">What are you eating?</h2>
  </div>
  <div class="row container">
    <div class="input-field col m8 s12">
      <input type="text" id="foodInput" class="autocomplete-input " class="autocomplete1">
      
      <label class="preText " for="autocomplete-input">This can be a dish ("steak"), an ingredient ("salmon"), or a cuisine ("italian").</label>
    </div>
    <div class="input-field col m4 s12 center">
      <button class="btn searchButton waves-effect waves-heavy " href="#modal1" type="submit" name="action">Get To Sippin'
      </button>

      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 class="buddyName">Please Enter Your Age</h4>
          <i class="material-icons prefix">pan_tool</i>
          <input type="text" id="ageInput" class="autocomplete-input ageVerification">
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 center notValid">

    </div>
  </div>
</div>
<div class="parallax-container pImage1">
  <div class="parallax">
    <img src="/images/wine-1476628_640.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h3 class="header center">Wine Pairing Made Easy</h3>
    <div class="whatWhat center">We Love to Pair Great Food with Great Wine</div>
    <div class="row wineSwipe">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="active tab col s4">
          <a href="#test-swipe-1">What Your Sippin'</a>
          
        </li>
        <li class="tab col s4">
          <a href="#test-swipe-2">Liquor Stores in Your Area</a>
        </li>
        <li class="tab col s4">
          <a href="#test-swipe-3">Comparable Wines</a>
        </li>
      </ul>
      <div id="test-swipe-1" class="col s12">
        <div class="col m8 s12" id="words"></div>
        <div class="col m4 s12" id="image"></div>
        <!-- Sharingbutton E-Mail -->
        <div class="row right">
        <a class="resp-sharing-button__link" href="mailto:?subject=Check%20out%20the%20wine%20pairing%20from%20Sippin%20What!"
          target="_self" aria-label="Share by E-Mail">
          <div class="resp-sharing-button resp-sharing-button--email resp-sharing-button--large">
            <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm8 16c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2V8c0-1.1.9-2 2-2h12c1.1 0 2 .9 2 2v8z"
                />
                <path d="M17.9 8.18c-.2-.2-.5-.24-.72-.07L12 12.38 6.82 8.1c-.22-.16-.53-.13-.7.08s-.15.53.06.7l3.62 2.97-3.57 2.23c-.23.14-.3.45-.15.7.1.14.25.22.42.22.1 0 .18-.02.27-.08l3.85-2.4 1.06.87c.1.04.2.1.32.1s.23-.06.32-.1l1.06-.9 3.86 2.4c.08.06.17.1.26.1.17 0 .33-.1.42-.25.15-.24.08-.55-.15-.7l-3.57-2.22 3.62-2.96c.2-.2.24-.5.07-.72z"
                />
              </svg>
            </div>Share This Pairing</div>
        </a>
        </div>

      </div>
      <div id="test-swipe-2" class="col s12">
        <div id="test-swipe-2" class="cols12 grey lighten-4">
          <div class="col m12 s12 center">
            <h5>Store Information</h5>
            <div id="name"></div>
            <div id="address"></div>
          </div>
        </div>

        <div class="col m0 s0 map2" id="map"></div>
      </div>
      <div id="test-swipe-3" class="col s12">
        <div class="row">
          <div class="col m4 s12 center" id="otherWineImage1"></div>

          <div class="col m4 s12 center" id="otherWineImage2"></div>

          <div class="col m4 s12 center" id="otherWineImage3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="/images/cork-738603_640.jpg">
  </div>
</div>

</body>
</html>