<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  



<div class="row">
  <div class="col s12 center">
    <h2 class="mainHeader">What are you eating?</h2>
  </div>
  <div class="row container">
    <div class="input-field col m8 s12">
      <input type="text" class="autocomplete-input" class="autocomplete1">
      
      <label class="preText" for="autocomplete-input">This can be a dish ("steak"), an ingredient ("salmon"), or a cuisine ("italian").</label>
    </div>
    <div class="input-field col m4 s12 center">
      <button class="btn searchButton waves-effect waves-heavy" type="submit" name="action">Get To Sippin'
      </button>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 center notValid">

    </div>
  </div>
</div>
<div class="parallax-container pImage1">
  <div class="parallax">
    <img src="/images/wine-1476628_640.jpg">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h3 class="header center">Wine Pairing Made Easy</h3>
    <div class="whatWhat center">We Love to Pair Great Food with Great Wine</div>
    <div class="row wineSwipe">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="active tab col s4">
          <a href="#test-swipe-1">What Your Sippin'</a>
        </li>
        <li class="tab col s4">
          <a href="#test-swipe-2">Liquor Stores in Your Area</a>
        </li>
        <li class="tab col s4">
          <a href="#test-swipe-3">Comparable Wines</a>
        </li>
      </ul>
      <div id="test-swipe-1" class="col s12">
        <div class="col m8 s12" id="words"></div>
        <div class="col m4 s12" id="image"></div>
      </div>
      <div id="test-swipe-2" class="col s12">
        <div id="test-swipe-2" class="cols12 grey lighten-4">
          <div class="col m12 s12 center">
            <h5>Store Information</h5>
            <div id="name"></div>
            <div id="address"></div>
          </div>
        </div>

        <div class="col m0 s0 map2" id="map"></div>
      </div>
      <div id="test-swipe-3" class="col s12">
        <div class="row">
          <div class="col m4 s12 center" id="otherWineImage1"></div>

          <div class="col m4 s12 center" id="otherWineImage2"></div>

          <div class="col m4 s12 center" id="otherWineImage3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="/images/cork-738603_640.jpg">
  </div>
</div>

</body>
</html>