
<body>
    <div class="section white">
        <div class="row center">
            <h1>Admin Page User Statistics</h1>
            <div class="col m3 s12">
                Wine Suggestion
                <br/>
                <div id="chart"></div>
                <br/>
            </div>
            <div class="col m3 s12">
                Food Selection
                <br/>
                <br/>
            </div>
            <div class="col m3 s12">
                Location
                <br/>
                <div id="chart"></div>
                <br/>
            </div>
            <div class="col m3 s12">
                Age Group
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="/images/cork-738603_640.jpg">
        </div>
    </div>
</body>
