body {
  margin-top: 4%;
  font-family: 'Palatino-Normal-34608';
}

.autocomplete {
  font-size: 16px;
}

.nav-wrapper {
  background: #5b0b0b !important;
}

.autocomplete-input {
  color: black;
  border-radius: 5px;
  border-bottom: 1px solid #8f8023 !important;
  -webkit-box-shadow: 0 1px 0 0 #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
}

.active {
  color: #5b0b0b !important;
}

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: none;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* border-width: 20px !important; */
  border-style: solid;
  border-bottom: 2px solid #8f8023 !important;
  border-image: initial;
  padding: 2px;
}

.btn {
  background-color: #8f8023 !important;
  border-radius: 5px !important;
}

.pImage1 {
  height: 150px !important;
}

a {
  color: #8f8023 !important;
}

.tabs .indicator {
  background-color: #5b0b0b !important;
}

.preText {
  font-size: 11px !important;
}

#image {
  text-align: center !important;
}

.brand-logo {
  margin-left: 15px;
  color: white !important;
}

.pImage1 {
  height: 200px !important;
}

.image2 {
  height: 250px !important;
}

.meet {
  color: white !important;
}

.page-footer {
  background: #5b0b0b !important;
}

.map2 {
  width: 100%;
  height: 400px;
  margin-top: 13px;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
  background-color: white !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
  background-color: white !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
  background-color: white !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
  background-color: white !important;
}

#pic {
  width: 200px;
  padding: 4px;
}

.row .col {
  margin-top: 10px;
}

.resp-sharing-button__link, .resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */

.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */

.resp-sharing-button__icon--solid, .resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
  background-color: #FF6600
}

.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
  background-color: #FB6200
}

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover, .resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}